<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>CervTerm</string>
	<key>CFBundleDisplayName</key>
	<string>CervTerm</string>
	<key>CFBundleIdentifier</key>
	<string>dev.cervterm.CervTerm</string>
	<key>CFBundleVersion</key>
	<string>{{.Version}}</string>
	<key>CFBundleShortVersionString</key>
	<string>{{.ShortVersion}}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleExecutable</key>
	<string>cervterm</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>CervTerm contributors</string>
</dict>
</plist>
